<div class="container">
  <div class="form-group">
    <div class="col-md-6">
      <label for="txtAuthorFirstName">First Name</label>
      <input type="text" id="txtAuthorFirstName" class="form-control" />
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-6">
      <label for="txtAuthorMiddleName">Middle Name</label>
      <input type="text" id="txtAuthorMiddleName" class="form-control" />
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-6">
      <label for="txtAuthorLastName">Last Name</label>
      <input type="text" id="txtAuthorLastName" class="form-control" />
    </div>
  </div>
  <div class="col-md-7 float-right">
    <button id="btnSave" class="btn btn-primary">Save</button>
  </div>

</div>>