<div class="container">
  <div class="form-group">
    <div class="col-md-6">
      <label for="txtAuthorFirstName">First Name</label>
      <input type="text" id="txtAuthorFirstName" class="form-control" [(ngModel)]="firstName"/>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-6">
      <label for="txtAuthorMiddleName">Middle Name</label>
      <input type="text" id="txtAuthorMiddleName" class="form-control" [(ngModel)]="middleName"/>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-6">
      <label for="txtAuthorLastName">Last Name</label>
      <input type="text" id="txtAuthorLastName" class="form-control" [(ngModel)]="lastName"/>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-6">
      <label for="cmbGender">Gender</label>
      <!-- <select id="cmbGender" >
        <option>Male</option>
        <option>Female</option>
      </select> -->
      <gender-list></gender-list>
    </div>
  </div>
  <div class="col-md-7 float-right">
    <button id="btnSave" class="btn btn-primary" (click)="addAuthor()">Save</button>
  </div>

</div>>